<header class="my-4 container bg-white p-2">
  <nav class="navbar navbar-expand-sm navbar-light px-4">
    <a class="navbar-brand text-dark" href="#">
      <h6 class="title">
        <img src="./assets/images/logo2.png" class="img-fluid" style="width: 100px;" alt="">
      </h6>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0"></ul>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item mx-2">
          <button class="nav-link btn btn-primary" (click)="LogoutSubmit()">Deconnexion</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
