<div class="card card-body p-4 bg-white border-0">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h6>Liste de vos ventes</h6>
    <button
      class="btn btn-primary btn-lg"
      (click)="launchModalVente()"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Effectuer une vente
    </button>
  </div>
  <div class="row my-4">
    <div class="col-md-4">
      <div class="card p-2">
        <p>Nombre de vente du jour</p>
        <h4 class="text-primar fw-bold">
          {{ stats?.venteJour ?? 0 }}
        </h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2">
        <p>Montant vendus du jour</p>
        <h4 class="text-primar fw-bold">
          {{ stats?.montantVenteJour ?? 0 }} Fcfa
        </h4>
      </div>
    </div>
  </div>
  <div class="my-4" style="height: 400px; overflow-y: scroll">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Date de vente</th>
          <th>Prix Total (Fcfa)</th>
          <th>Montant client (Fcfa)</th>
          <th>Monaies (Fcfa)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataVente">
          <td>{{ item.created_at }}</td>
          <td>{{ item.prix_total }}</td>
          <td>{{ item.prix_client }}</td>
          <td>{{ item.monais_client }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="getDetail(item.id, item)">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content d-flex justify-content-center align-items-center" *ngIf="load == false">
      <div class="text-align-center">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="modal-content" *ngIf="load == true">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div>
            <h5 class="modal-title" id="staticBackdropLabel">
              Effectuer une vente
            </h5>
          </div>
          <div>
            <input
              type="text"
              (input)="launchSearch($event)"
              class="form-control form-control-lg input"
              style="width: 45vw"
              id="recherche"
              placeholder="Rechercher le produit"
              autofocus
            />
          </div>
          <div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="modal-body bg-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-body p-4 bg-white border-0 mb-4">
                <div class="text-center">
                  <button class="btn btn-primary btn-block btn-lg w-100">
                    Scanner le produit
                  </button>
                  <!-- <div class="my-2">
                    <small>ou</small>
                  </div>
                  <form action="">
                    <input
                      type="text" (input)="launchSearch($event)"
                      class="form-control form-control-lg input"
                      placeholder="Rechercher le produit"
                      autofocus
                    />
                  </form> -->
                </div>
              </div>
              <div class="card card-body p-4 bg-white border-0 my-4">
                <h6 class="mb-4">Resultat de recherche produit ({{ dataProduit?.length }})</h6>
                <div class="row overflow">
                  <div class="col-md-12" *ngFor="let item of dataProduit">
                    <div
                      class="card card-body brd border-bottom border-0 mb-2"
                      *ngIf="item.prix_vente_unique"
                      (click)="AddToSell(item)"
                    >
                      <h6>{{ item.libelle }}</h6>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h5 class="text-primar">{{ item.prix_vente_unique }} Fcfa</h5>
                        <h6>
                          <small>{{ item.stock }} Restant</small>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-body p-4 bg-white border-0">
                <form></form>
                <div class="mb-2">
                  <div class="card border-0">
                    <div class="card-body">
                      <h6>{{ produitSelect?.libelle }}</h6>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h5 class="text-primar">
                          {{ produitSelect?.prix_vente_unique }} Fcfa
                        </h5>
                        <h6>
                          <input
                            type="number"
                            id="qte"
                            style="width: 100px"
                            placeholder="Quantité"
                            class="form-control input"
                            (input)="setQte($event)"
                          />
                        </h6>
                      </div>
                    </div>
                    <div
                      class="card-footer bg-white d-flex justify-content-between align-items-center"
                    >
                      <button type="button" class="btn btn-light">
                        Annuler
                      </button>
                      <button
                        type="submit"
                        (click)="onSubmitAddProduit()"
                        [disabled]="qte == null"
                        class="btn btn-primary"
                      >
                        Ajouter
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-body p-4 bg-white border-0 my-4">
                <h6 class="mb-4">Liste des produits ajouter a la vente</h6>
                <div class="row overflow">
                  <div class="col-md-12" *ngFor="let item of dataAddVente">
                    <div class="card card-body border-0 brd border-bottom mb-2">
                      <div
                        class="d-flex justify-content-between align-items-end mb-3"
                      >
                        <h6 class="fw-bold">-- {{ item.libelle }} --</h6>
                        <button
                          class="btn btn-xs btn-primary"
                          (click)="deleteAddVente(item.id)"
                        >
                          Retirer
                        </button>
                      </div>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <!-- <div>
                          <small>Prix Unitaire</small>
                          <h6 class="text-dark">2.200 Fcfa</h6>
                        </div> -->
                        <div>
                          <small>Qté</small>
                          <h6 class="text-dark">{{ item.qte }}</h6>
                        </div>
                        <div>
                          <small>Prix Total</small>
                          <h6 class="text-primar fw-bold">
                            {{ item.prix_total }} Fcfa
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-body p-4 bg-white border-0 mb-4">
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>Prix HT</h6>
                  <h4 class="fw-bold">{{ prixTotal }} Fcfa</h4>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>TVA</h6>
                  <h4 class="fw-bold">0%</h4>
                </div>
                <hr />
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>Prix TTC</h6>
                  <h4 class="fw-bold text-primar">{{ prixTotal }} Fcfa</h4>
                </div>
              </div>
              <div class="card card-body p-4 bg-white border-0 my-4">
                <h6>Saisir la somme apporter (Fcfa)</h6>
                <form action="" class="my-3">
                  <input
                    type="number"
                    (input)="addPrixAmener($event)"
                    class="form-control input form-control-lg"
                    placeholder="Somme apporter"
                    id="sommeApporter"
                  />
                </form>
              </div>
              <div class="card card-body p-4 bg-white border-0 my-4">
                <h6>Monaie a remettre au client (Fcfa)</h6>
                <h3 class="text-right text-primar fw-bold mt-4">
                  {{ prixRemettre }} Fcfa
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="button" class="btn btn-primary" (click)="saveVente()">
          Lancer la vente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="detailVente"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div>
            <h5 class="modal-title" id="staticBackdropLabel">
              Detail de vente
            </h5>
          </div>

          <div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="modal-body bg-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="card card-body p-4 bg-white border-0 my-4">
                <h6 class="mb-4">Liste des produits ajouter a la vente</h6>
                <div class="row">
                  <div class="col-md-12" *ngFor="let item of dataAddVenteDetail">
                    <div class="card card-body border-0 brd border-bottom mb-2">
                      <div
                        class="mb-3"
                      >
                        <h6 class="fw-bold">-- {{ item.libelle }} --</h6>
                      </div>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <!-- <div>
                          <small>Prix Unitaire</small>
                          <h6 class="text-dark">2.200 Fcfa</h6>
                        </div> -->
                        <div>
                          <small>Qté</small>
                          <h6 class="text-dark">{{ item.qte }}</h6>
                        </div>
                        <div>
                          <small>Prix Total</small>
                          <h6 class="text-primar fw-bold">
                            {{ item.prix_total }} Fcfa
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-body p-4 bg-white border-0 mb-4">
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>Prix TTC</h6>
                  <h4 class="fw-bold">{{ prixTotalDetail }} Fcfa</h4>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>Som. Apporter</h6>
                  <h4 class="fw-bold">{{ dataVenteDetail?.prix_client }} Fcfa</h4>
                </div>
                <hr />
                <div
                  class="d-flex justify-content-between align-items-center my-3"
                >
                  <h6>M. Rendus</h6>
                  <h4 class="fw-bold text-primar">{{ dataVenteDetail?.monais_client }} Fcfa</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button type="button" class="btn btn-primary" (click)="printDataRecuDetail()">
          Imprimer le reçu
        </button>
      </div>
    </div>
  </div>
</div>

<div style="display: none">
  <div
    id="printDiv"
    class="print-content"
    style="
      width: 80mm;
      top: 0;
      left: 0;
      font-size: 10px !important;
      position: relative;
    "
  >
    <div style="position: absolute; width: 100%; padding-right: 30px !important">
      <img src="./assets/images/logo1.svg" style="width: 100%" alt="" />
      <div>
        <h6>
          <strong>{{ formattedDate }}</strong>
        </h6>
        <h6><strong>Caisse 1</strong></h6>
        <h6><strong>Tel: +228 97 39 58 16 / 90 49 45 51</strong></h6>
      </div>
      <h5>
        <strong>-------------------------------------------------</strong>
      </h5>
      <div style="margin-top: -27px">
        <div *ngFor="let item of dataAddVente">
          <h5>
            <strong
              >- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong
            >
          </h5>
          <h6 style="margin-top: 10px">
            <strong>{{ item.libelle }}</strong>
          </h6>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div>
              <small>Quantité</small> <br />
              <strong>{{ item.qte }}</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <small>Prix Total</small> <br />
              <strong>{{ item.prix_total }} Fcfa</strong>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h5>
          <strong>-------------------------------------------------</strong>
        </h5>
        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>Total TTC</strong>
            </div>
            <div style="width: 50%; text-align: right">
              <strong>{{ prixTotal }} Fcfa</strong>
            </div>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>Somme</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <strong>{{ prixAmener }} Fcfa</strong>
            </div>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>M. rendus</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <strong>{{ prixRemettre }} Fcfa</strong>
            </div>
          </div>
        </div>
        <div style="text-align: center; margin-top: 35px; font-style: italic">
          <small>Que Dieu vous bénisse...</small>
        </div>
      </div>
    </div>
  </div>


  <div
    id="printDivDetail"
    class="print-content"
    style="
      width: 80mm;
      top: 0;
      left: 0;
      font-size: 10px !important;
      position: relative;
    "
  >
    <div style="position: absolute; width: 100%; padding-right: 30px !important">
      <img src="./assets/images/logo1.svg" style="width: 100%" alt="" />
      <div>
        <h6>
          <strong>{{ formattedDate }}</strong>
        </h6>
        <h6><strong>Caisse 1</strong></h6>
        <h6><strong>Tel: +228 97 39 58 16 / 90 49 45 51</strong></h6>
      </div>
      <h5>
        <strong>-------------------------------------------------</strong>
      </h5>
      <div style="margin-top: -27px">
        <div *ngFor="let item of dataAddVenteDetail">
          <h5>
            <strong
              >- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong
            >
          </h5>
          <h6 style="margin-top: 10px">
            <strong>{{ item.libelle }}</strong>
          </h6>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div>
              <small>Quantité</small> <br />
              <strong>{{ item.qte }}</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <small>Prix Total</small> <br />
              <strong>{{ item.prix_total }} Fcfa</strong>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h5>
          <strong>-------------------------------------------------</strong>
        </h5>
        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>Total TTC</strong>
            </div>
            <div style="width: 50%; text-align: right">
              <strong>{{ prixTotalDetail }} Fcfa</strong>
            </div>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>Somme</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <strong>{{ dataVenteDetail?.prix_client }} Fcfa</strong>
            </div>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            "
          >
            <div style="width: 50%">
              <strong>M. rendus</strong>
            </div>
            <div style="width: 60%; text-align: right">
              <strong>{{ dataVenteDetail?.monais_client }} Fcfa</strong>
            </div>
          </div>
        </div>
        <div style="text-align: center; margin-top: 35px; font-style: italic">
          <small>Que Dieu vous bénisse...</small>
        </div>
      </div>
    </div>
  </div>
</div>
