<header class="my-4 container bg-white p-2">
  <nav class="navbar navbar-expand-sm navbar-light px-4">
    <a class="navbar-brand text-dark" href="#">
      <h6 class="title">Logo</h6>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0"></ul>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <!-- <li class="nav-item mx-2">
            <a class="nav-link" href="#">Deconnexion</a>
          </li> -->
      </ul>
    </div>
  </nav>
</header>

<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card p-4 bg-white border-0">
          <h4 class="text-center title text-primary">LaCapitale</h4>
          <div class="my-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group my-3">
                <label for="">Adresse email</label>
                <input
                  type="text"
                  class="form-control form-control-lg input1"
                  placeholder="Adresse email"
                  formControlName="email"
                  [ngClass]="
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                      ? 'form-control is-invalid'
                      : 'form-control'
                  "
                />
              </div>
              <div class="form-group my-3">
                <label for="">Mot de passe</label>
                <input
                  type="text"
                  class="form-control form-control-lg input1"
                  placeholder="Mot de passe"
                  formControlName="password"
                  [ngClass]="
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                      ? 'form-control is-invalid'
                      : 'form-control'
                  "
                />
                <p class="text-right mt-2">Mot de passe oublié</p>
              </div>
              <div class="form-group my-5">
                <button type="submit" class="btn btn-primary btn-block w-100" [disabled]="loginForm.invalid">
                  Connexion
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
