<div class="row" *ngIf="role == 1">
  <div class="col-md-12 my-3">
    <div class="card cardy active border-0 p-4">
      <h5 class="text-center fw-bold">Ventes</h5>
    </div>
  </div>
  <div class="col-md-12 my-3">
    <div class="card cardy border-0 p-4">
      <h5 class="fw-bold text-center">Reservation</h5>
    </div>
  </div>
  <div class="col-md-12 my-3">
    <div class="card cardy border-0 p-4">
      <h5 class="fw-bold text-center">Historique</h5>
    </div>
  </div>
</div>

<div class="row" *ngIf="role == 2">
  <div class="col-md-12 my-3">
    <a href="/gestionnaire" class="a">
      <div class="card cardy active border-0 p-4">
        <h5 class="text-center fw-bold">Produits</h5>
      </div>
    </a>
  </div>
  <div class="col-md-12 my-3">
    <div class="card cardy border-0 p-4">
      <h5 class="fw-bold text-center">Alert Stock</h5>
    </div>
  </div>
  <!-- <div class="col-md-12 my-3">
    <a href="/gestionnaire/statistique" class="a">
      <div class="card cardy border-0 p-4">
        <h5 class="fw-bold text-center">Statistique</h5>
      </div>
    </a>
  </div> -->
</div>
